<!-- Page Content -->
<div id="page-content-wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-7">
        <div class="page-header d-flex justify-content-between align-items-center" id="archives">
          <h3 class="">Archives</h3>
          <input type="text" class="form-control ml-3 w-50 form-control-sm" id="post-search"
            placeholder="Press enter to search..." autocomplete="off">
        </div>

        <ul class="ant-timeline" id="archivelist">

          {% comment %} Stickie list {% endcomment %}
          {% for post in site.posts %}

          {% if post.stickie != true %}
          {% continue %}
          {% endif %}

          {% if post.hideinpostslist == true %}
          {% continue %}
          {% endif %}


          <li class="ant-timeline-item">
            <!-- index start from 1 -->
            <div class="ant-timeline-item-head ant-timeline-item-head-blue">
            </div>
            <div class="ant-timeline-item-content">
              <span class="badge badge-danger d-lg-inline-block d-none">{{ post.date | date: "%Y-%m-%d" }} </span>
              <span class="align-items-center post-title">
                <a class="post-link text-danger h6 text-danger font-weight-bold"
                  href="{{site.url}}{{site.baseurl}}{{ post.url}}">{{ post.title }}</a>
              </span>
            </div>
          </li>
          {% endfor %}


          {% comment %} Normal post list {% endcomment %}
          {% for post in site.posts %}

          {% comment %} If we dont wanna it show in post list{% endcomment %}
          {% if post.hideinpostslist == true %}
          {% continue %}
          {% endif %}

          {% comment %} If it already showed in stickie list {% endcomment %}
          {% if post.stickie == true %}
          {% continue %}
          {% endif %}

          <li class="ant-timeline-item">
            <!-- index start from 1 -->
            <div class="ant-timeline-item-head ant-timeline-item-head-blue">
            </div>
            <div class="ant-timeline-item-content">
              <span class="badge badge-primary d-lg-inline-block d-none">{{ post.date | date: "%Y-%m-%d" }} </span>
              <span class="align-items-center post-title">
                <a class="post-link h6 font-weight-bold" href="{{site.url}}{{site.baseurl}}{{ post.url}}">{{ post.title }}</a>
              </span>
            </div>
          </li>
          {% endfor %}
        </ul>
        <div class="pagination"></div>
      </div>

      <div class="col-md-5">
        <div class="page-header">
          <h3>Welcome to my site!</h3>
        </div>
        <div>
          <img class="site-author-image" itemprop="image" style="width:450px;height:303px;" src="https://raw.githubusercontent.com/ericlee0920/ericlee0920.github.io/master/img/profile.jpg">
        </div>
        <br>
        <div>I am Eric Lee! Currently in the bioinformatics graduate program at the University of British Columbia. 
            I was born in Maple Ridge, Canada and grew up living in Vancouver, Seattle, Hsinchu, and Tokyo. 
          There are so many things I enjoy and want to share with you so please navigate through the website as you wish!
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /#page-content-wrapper -->